<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  
  <!-- Include the header -->
  {% include header.html %}

  <!-- Main content -->
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <!-- This column is left empty to create some left margin -->
      </div>
      <div class="col-md-7">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="col-md-4">
        <!-- This column is left empty to create some right margin -->
      </div>
    </div>
  </div>

  <div class="container mt-5">
  
  <!-- Main content -->
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <!-- This column is left empty to create some left margin -->
      </div>
      <div class="col-md-7">
        {{ content }}
      </div>
      <div class="col-md-4">
        <!-- This column is left empty to create some right margin -->
      </div>
    </div>
  </div>

  <div class="container mt-5">

  <!-- Include the footer -->
  {% include footer.html %}

  
  <!-- Bootstrap JS and other scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
